@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'flowbite/src/themes/default';
@import 'tailwindcss';

@source "./src/**/*.{vue,ts,js,html}";
@source "../node_modules/flowbite";

@plugin "flowbite/plugin";

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --color-brand: #0ea5e9;
}
